/*----------------------------
  Graph elements styles
-----------------------------*/

@keyframes timing-fromto {
  to {
      animation-timing-function: ease-in-out;
      fill-opacity: 0.8;
    }
}

.graph {
    .normal_node {
        stroke: #f0a000;
        fill: #ffeabf;
        stroke-width: 2;
    }
    .placeholder_node {
        stroke: #f0a000;
        fill: #ffeabf;
        stroke-dasharray: 10 4;
        fill-opacity: .3;
        stroke-width: 2;
    }
    .hovered_node {
        animation: timing-fromto .7s infinite alternate;
        stroke: yellowgreen;
        fill: yellowgreen;
        fill-opacity: 0.3;
    }
    .selected_node {
        stroke: red;
        fill: #ffeabf;
        stroke-width: 2;
    }
    .clicked_node {
        stroke: red;
        fill: #ffeabf;
        stroke-width: 4;
    }
    .edge {
        .normal_edge {
            fill: black;
            stroke: black;
        }
        .selected_edge {
            fill: black;
            stroke: red;
            stroke-width: 3px;
        }
        .clicked_edge {
            fill: black;
            stroke: red;
            stroke-width: 3px;
        }
    }
    .output {
        line {
             strokeWidth: 2;
             stroke: #E82700;
        }
        circle {
            stroke: #E82700;
            fill: white;
            fill-opacity: 0;
            stroke-width: 2;
        }
        text {
            font-family: Verdana;
            font-size: 32px;
        }
    }
    .delete-circle {
        circle {
            stroke: red;
            stroke-width: 2;
            fill: #ffeabf;
            fill-opacity: 0;
        }
        line {
            stroke-width: 2;
            stroke: black;
        }
    }
}
