<div class="ui dimmer modals page transition visible active"><div class="ui fullscreen modal transition scrolling visible active" id="workspace_modal" style="top: 0px;">
            <div class="ui borderless menu top attached segment tertiary orange">
                <span class="header item">Граф модели</span>
                <a class="item right" id="compress_workspace">
                    <i class="compress icon"></i>
                    Обычный размер
                </a>
            </div>
            <div class="content" style="width: 88%;">
              <img src="http://cs625320.vk.me/v625320362/36b2b/7ckT1KBOSUo.jpg" style="margin: 200px;" alt="">
            </div>
            <div class="ui right visible sidebar vertical c_model_items_sidebar">
                <div class="ui top attached secondary pointing tabular three item teal icon menu">
                    <a class="item" data-tab="states">
                        <i class="cube icon"></i>
                        Состояния
                    </a>
                    <a class="item" data-tab="inputs">
                        <i class="sign in icon"></i>
                        Входы
                    </a>
                    <a class="item active" data-tab="outputs">
                        <i class="sign out icon"></i>
                        Выходы
                    </a>
                </div>
                <div class="ui attached tab segment" data-tab="inputs">
                    <div class="ui form">
                        <div class="ui action input">
                            <input type="text" placeholder="Добавить входы">
                            <button class="ui teal icon button">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="ui celled large selection list">
                        <div class="item">
                            <i class="circle thin teal icon"></i>
                            <div class="content">
                                <div class="header">С00</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="circle thin teal icon"></i>
                            <div class="content">
                                <div class="header">С01</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="circle thin teal icon"></i>
                            <div class="content">
                                <div class="header">С10</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="circle thin teal icon"></i>
                            <div class="content">
                                <div class="header">С11</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui attached tab segment active" data-tab="outputs">
                    <div class="ui form">
                        <div class="ui action input">
                            <input type="text" placeholder="Добавить выход">
                            <button class="ui teal icon button">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="ui attached tab segment" data-tab="states">
                    <div class="ui form">
                        <div class="ui action input">
                            <input type="text" placeholder="Добавить состояние">
                            <button class="ui teal icon button">
                                <i class="plus icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>
