/*----------------------------
  Graph elements styles
-----------------------------*/
@keyframes timing-fromto {
  to {
    animation-timing-function: ease-in-out;
    fill-opacity: 0.8;
  }
}
.graph .normal_node {
  stroke: #f0a000;
  fill: #ffeabf;
  stroke-width: 2;
}
.graph .placeholder_node {
  stroke: #f0a000;
  fill: #ffeabf;
  stroke-dasharray: 10 4;
  fill-opacity: .3;
  stroke-width: 2;
}
.graph .hovered_node {
  animation: timing-fromto 0.7s infinite alternate;
  stroke: yellowgreen;
  fill: yellowgreen;
  fill-opacity: 0.3;
}
/*----------------------------
  Override semantic-ui styles
-----------------------------*/
.ui.small.menu .item {
  font-size: 0.9rem;
  padding: 0.45em 0.4em;
}
.ui.menu .header.item {
  background: transparent;
}
.ui.main.menu .item {
  padding: 0.45em 0.4em;
}
.ui.page.grid {
  padding-left: 20px;
  padding-right: 20px;
}
.ui.menu.attached {
  box-shadow: none;
}
.ui.fullscreen.modal {
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0.05% !important;
  width: 99.9% !important;
  margin: 0px !important;
  padding: 0px !important;
}
.ui.list.selection .item:hover {
  cursor: default;
}
.ui.list.selection i.icon:hover {
  transform: scale(1.5);
}
.ui.list.selection i.icon:hover.circle.thin:before {
  content: "\f111";
  cursor: pointer;
}
.ui.list.selection i.icon {
  transition: color 0.6s ease, transform 0.2s ease;
}
/*---------------------------
  Custom styles
---------------------------*/
html,
body {
  min-width: 1000px;
  padding-top: 10px;
}
.c_content {
  padding: 20px 20px;
}
.c_model_items_sidebar {
  top: 39px !important;
  width: 18%;
}
.c_orderable.c_title:hover {
  cursor: pointer;
}
.c_title_bar {
  position: absolute;
  background: transparent;
  width: 100%;
  top: 0;
  left: -86px;
  padding-left: 192px;
  color: white;
  z-index: 120;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
#model_rbl {
  overflow-y: scroll;
}
#graph_full {
  width: 88%;
}
#graph_compact {
  height: 750px;
}
#elements_model {
  height: 750px;
}
#query_form {
  height: 375px;
}
#queries_model {
  height: 350px;
}
#workspace_modal {
  top: 0px;
}
.canvas {
  width: 800px;
  height: 700px;
  padding: 20px;
}
